<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>




<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <ul class="nav navbar-nav">
        <li class="active">
          <a href="#">Back</a>
        </li>
      </ul>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav navbar-right">
        <li>
          <a href="#">
            <span class="glyphicon glyphicon-user"></span> Your Account</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<div class="jumbotron">
  <div class="container text-center">
    <h1>Projection</h1>
  </div>
</div>
<footer class="container-fluid text-center">
  <p>Projection Estimate for a Month</p>
  <form class="form-inline"><div class="leftp">Select Month:</div>
    <div>
      <mat-select [(value)]="selected" class="select">
        <mat-option *ngFor="let month of months" [disabled]="month.bool" [value]="month.value">{{month.month}}</mat-option>
      </mat-select>
    </div>
    <button type="button" class="btn btn-danger"(click)="Projection()">Get Projection</button>
  </form>
</footer>


<div class="container">
  <div class="row">
    <div class="col-sm-5">
      <div class="panel panel-primary">
        <div class="panel-heading">Projection for Banagalore</div>
        <div class="panel-body">
          <span>{{projectionData.bangalore}} INR</span>
        </div>
      </div>
    </div>
    <div class="col-sm-2">
    </div>
    <div class="col-sm-5">
      <div class="panel panel-success">
        <div class="panel-heading">Projection for Mumbai</div>
        <div class="panel-body">
          <span>{{projectionData.mumbai}} INR</span>
        </div>
      </div>
    </div>
  </div>
</div>
<br>

<br>
<br>