<aside class="main-sidebar">
  <section class="sidebar">
    <!-- <form action="#" method="get" class="sidebar-form">
       <div class="input-group">
        <input type="text" name="q" class="form-control" placeholder="Search..."> 
        <span class="input-group-btn">
          <button type="submit" name="search" id="search-btn" class="btn btn-flat">
            <i class="fa fa-search"></i>
          </button>
        </span>
      </div> 
    </form> -->
    <ul class="sidebar-menu">
      <li>
        <a (click)="addTab('New Ticket', '/home/newticket')">
          <i class="fa fa-plus"></i>
          <span>New Ticket</span>
        </a>
      </li>
      <li class="treeview">
        <a (click)="addTab('My Tickets', '/home/mytickets')">
          <i class="fa fa-ticket"></i>
          <span>My Tickets</span>
          <span class="pull-right-container">
            <span class="label label-primary pull-right">awsrdgr</span>
          </span>
        </a>
      </li>
      <li class="treeview" >
        <a (click)="addTab('Assigned Tickets', '/home/assignedtickets')">
          <i class="fa fa-ticket"></i>
          <span>Assigned Tickets</span>
          <span class="pull-right-container">
            <span class="label label-primary pull-right">"newCount"</span>
          </span>
        </a>
      </li>
      <li class="active treeview" >
        <a href="#" (click)="recentTickets()">
          <i class="fa fa-clock-o"></i>
          <span>Recent Tickets</span>
          <span class="pull-right-container">
            <i class="fa fa-angle-left pull-right"></i>
          </span>
        </a>
        <ul class="treeview-menu">
          <li class="active"  >
            <a (click)="onSelect(ticket)">
              <i class="fa fa-circle-o"></i></a>
          </li>
        </ul>
      </li>
      <!-- <li>
        <a (click)="addTab('Error Page', '/home/errorpage')">
          <i class="fa fa-plus"></i>
          <span>Error Page</span>
        </a>
      </li> -->
    </ul>
  </section>
</aside>