<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>




<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <!--<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>-->
      
          <a href="#" class="active pullleft">Back</a>
      
    </div>
  </div>
</nav>
<div class="jumbotron">
  <div class="container text-center">
    <h1>Invoice Generation</h1>
  </div>
</div>
<footer class="container-fluid text-center">
  <p>Invoice Generation for Given Month</p>
  <form class="form-inline"><div class="leftp">Select Month:</div>
    <div>
      <mat-select [(value)]="selected" class="select">
        <mat-option *ngFor="let month of months"  [value]="month.value">{{month.month}}</mat-option>
      </mat-select>
    </div>
    <button type="button" class="btn btn-danger"(click)="invoice()">Generate Invoice</button>
  </form>
</footer>


<div class="container">
  <div class="row">
    <div class="col-sm-5">
      <div class="panel panel-primary">
        <div class="panel-heading">Invoice for Banagalore</div>
        <div class="panel-body">
          <span>{{invoiceData.bangalore}} INR</span>
        </div>
      </div>
    </div>
    <div class="col-sm-2">
    </div>
    <div class="col-sm-5">
      <div class="panel panel-success">
        <div class="panel-heading">Invoice for Mumbai</div>
        <div class="panel-body">
          <span>{{invoiceData.mumbai}} INR</span>
        </div>
      </div>
    </div>
  </div>
</div>
<br>

<br>
<br>